
.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul li a{
  color: black;
  padding: 5px;
  text-decoration: none;
}

.nav-ul {
  padding: 5px;
  margin:0;
  background-color: #76ABAE;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #76ABAE;
  /* height: 50px; */
}
.register-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.register-button {
  width: 315px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #0C359E;
  color: #fff;
  cursor: pointer;
  
}

.register-button:hover {
  background-color: #0056b3;
}
